@import url(https://fonts.googleapis.com/css?family=Nunito);html,
body {
  background: linear-gradient(to bottom left, #4d5879, #26314e);
  color: #bec3d2;
  font-family: "Nunito", sans-serif;
  font-weight: 200;
  font-size: 16px;
  height: 100vh;
  margin: 0;
}

* {
  box-sizing: border-box;
}

#app {
  width: 100vw;
  height: 100vh;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#inputs {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#inputs label {
  margin-bottom: 10px;
}

#inputs input[type=text] {
  font-size: 22px;
  padding: 15px;
  background: #00000036;
  color: #bec3d2;
  border-radius: 5px;
  border: 2px solid #2cc2ca;
}

#inputs button {
  background: #2cc2ca;
  padding: 15px;
  border-radius: 20px;
  border: none;
  color: #26314e;
  font-size: 18px;
  cursor: pointer;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #bec3d2 !important;
}

#buttons {
  position: absolute;
  bottom: 20px;
}

#buttons button {
  background: none;
  color: #ccc;
  border: none;
  font-size: 14px;
}

